# Environment and Credentials
.env
gui_config.json
*.pem
gui_app.py

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
venv/
.venv/

# Project Workspaces and Outputs
Workspace/
Output/
*.mp4
*.wav
*.mp3
*.jpg
*.png

# IDE & System
.vscode/
.idea/
.DS_Store
Thumbs.db
